{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <style>
    .nav-link:hover {
      color: #fff;
      background-color: #0000FF;
    }
  </style>
</head>

<body>
<br>
<div class="container">
<ul class="nav bg-primary">
    <li class="nav-item">
    <a class="nav-link link-light" href="{% url 'index' %}">HOME</a>
    </li>
    <li class="nav-item">
    <a class="nav-link link-light" href="{% url 'missingpeople' %}">MISSING PEOPLE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'about' %}">ABOUT US</a>
    </li>
    <li class="nav-item">
        <a class="nav-link link-light" href="{% url 'contact' %}">CONTACT</a>
    </li>
</ul>
</div>

<br>

<div class="container">

{% block content %}
{% endblock %}

</body>
<footer>
    <br>
    <p>&copy; 2023 Find Missing People. All rights reserved.</p>

    </footer>

</div>
<script src= "{% static 'js/bootstrap.bundle.min.js' %}">  </script>
</body>
</html>