{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container">
  <h4 class="mb-4">About Human Trafficking in Utah</h4>
  <p class="lead">Human trafficking is a serious crime and a grave violation of human rights, affecting millions of people worldwide. It involves the recruitment, transportation, transfer, and exploitation of men, women, and children for the purposes of forced labor, sexual exploitation, or other forms of exploitation. Victims of human trafficking are often vulnerable individuals who are tricked, coerced, or forced into situations they cannot escape. Human trafficking is a complex issue with far-reaching consequences, including physical and psychological harm, loss of freedom, and economic exploitation. It is a pressing challenge for governments, civil society organizations, and individuals to address and combat this modern-day form of slavery.</p>
  <p>Here are some resources that can help you learn more about human trafficking and understand how serious of a problem it is. By educating ourselves about how trafficking happens, we can work towards preventing it from happening to us or those around us.</p>
  <ul>
      <li><a href="https://attorneygeneral.utah.gov/initiatives/human-trafficking/">Utah Attorney General's Office - Human Trafficking</a></li>
      <li><a href="https://www.rideuta.com/news/2021/01/Human-Trafficking#:~:text=BE%20THE%20ONE%20to%20SUPPORT%20victims%20of%20human%20trafficking.&text=victims%20to%20services%3A-,Contact%20the%20National%20Human%20Trafficking%20Hotline%20at%20888%2D373%2D7888,%40aau%2Dslc.org%20">Ride UTA - Human Trafficking</a></li>
      <li><a href="https://www.acf.hhs.gov/sites/default/files/documents/otip/utah_profile_efforts_to_combat_human_trafficking.pdf">U.S. Department of Health and Human Services - Utah Profile: Efforts to Combat Human Trafficking</a></li>
      <li><a href="https://www.deseret.com/utah/2021/10/8/22716453/aspen-house-utah-human-trafficking-recovery-center-kicks-off-fundraising-efforts-salt-lake-city">Deseret News - Aspen House Utah Human Trafficking Recovery Center</a></li>
      <li><a href="https://humantraffickinghotline.org/state/utah">National Human Trafficking Hotline - Utah</a></li>
      <li><a href="https://sharedhope.org/PICframe7/reportcards/PIC_RC_2017_UT.pdf">Shared Hope International - 2017 Utah Report Card</a></li>
      <li><a href="https://sharedhope.org/PICframe7/analysis/PIC_AR_2017_UT.pdf">Shared Hope International - 2017 Utah Analysis</a></li>
      <li><a href="https://www.ctdatacollaborative.org/story/age-victims-children-and-adults">Connecticut Data Collaborative - Age of Victims: Children and Adults</a></li>
  </ul>
  <p>If you suspect that someone is a victim of human trafficking, it is important to report it to the authorities. You can contact the National Human Trafficking Hotline at 1-888-373-7888 or text "HELP" to 233733.</p>

{% endblock %}