{% extends 'base.html' %}
{% block content %}
{% load static %}

    <h1>Contact Us</h1>
    <p>If you have any information about a missing person or have a general inquiry, please use the form below to contact us. We appreciate your help.</p>

    <form method="post" action="submit-form.php">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea><br>

        <input type="submit" value="Send">
    </form>

    <p>You can also reach us by phone at 555-1234 or by email at info@missingpeoplewebsite.com.</p>

{% endblock %}