{% extends 'base.html' %}

{% block content %}
{% load static %}

    <h4 class="mb-4">We are committed to finding all missing people:</h4>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date Missing</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th class="text-end">Age at Missing</th>
                <th>City</th>
                <th>State</th>
                <th>Gender</th>
                <th>Race</th>
            </tr>
        </thead>
        <tbody>
            {% for oStudent in data %}
            <tr>
                <td>{{ oStudent.date_missing }}</td>
                <td>{{ oStudent.last_name }}</td>
                <td>{{ oStudent.first_name }}</td>
                <td class="text-end">{{ oStudent.age_at_missing }}</td>
                <td>{{ oStudent.city }}</td>
                <td>{{ oStudent.state }}</td>
                <td>{{ oStudent.gender }}</td>
                <td>{{ oStudent.race }}</td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>

{% endblock %}